.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.active {
  font-size: 20px;
  font-weight: bold;
}

body {
    background-color: #eeeeee;
}

.content {
    width: 80%;
    background-color: #ffffff;
}

.page-header {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 50px;
    font-size: 3rem;
}
