/*
 * change container width
 * https://stackoverflow.com/questions/15884102/bootstrap-how-do-i-change-the-width-of-the-container
 */
@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

.page-header {
    border-bottom: 1px solid #cccccc;
    font-size: 3rem;
}

.block {
    margin-top: 3rem;
}

.block-header {
    background-color: #eeffff;
    border-bottom: 2px solid #eeeeee;
    padding-left: 1rem;
    font-size: 2rem;
}

.block-content {
    padding-top: 1rem;
    padding-left: 3rem;
    font-size: 1.5rem;
}