{% extends 'base.html' %}

{% block title %}
    Order
{% endblock %}

{% block header %}
    Order
{% endblock %}

{% block button %}
{% endblock %}

{% block content %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
<!-- channel filter -->
            <button id="channelFilter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{% if active_channel %}{{ active_channel.id }}{% else %}-1{% endif %}">{% if active_channel %}{{ active_channel.name }}{% else %}All Channel{% endif %}</button>
            <div class="dropdown-menu" aria-labelledby="channelFilter">
                <button class="channelFilterOptions dropdown-item" type="button" value="-1">All Channel</button>
                {% if channels %}
                    <div class="dropdown-divider"></div>
                    {% for channel in channels %}
                    <button class="channelFilterOptions dropdown-item " type="button" value="{{ channel.id }}">{{ channel.name }}</button>
                    {% endfor %}
                {% endif %}
            </div>
<!-- channel filter end -->
        </div>
        <input type="text" id="keyword" class="form-control" value="{% if keyword %}{{ keyword }}{% endif %}">
<!-- status filter -->
        <div class="input-group-append">
            <button id="statusFilter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{% if active_status %}{{ active_status }}{% else %}-1{% endif %}">{% if active_status %}{{ active_status | order_status_2_name }}{% else %}All Status{% endif %}</button>
            <div class="dropdown-menu" aria-labelledby="statusFilter">
                <button class="statusFilterOptions dropdown-item" type="button"value="-1">All Status</button>
                <div class="dropdown-divider"></div>
                {% for status in get_all_order_status() %}
                <button class="statusFilterOptions dropdown-item" type="button"value="{{ status }}">{{ status | order_status_2_name }}</button>
                {% endfor %}
            </div>
        </div>
<!-- status filter end -->
<!-- search button -->
        <div class="input-group-append">
            <button id="searchSubmitButton" class="btn btn-danger btn-secondary" type="button">Search</button>
        </div>
<!-- search button end-->
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input position-static" id="checkAllOrder" type="checkbox">
                    </div>
                </th>
                <th>Channel</th>
                <th>OrderId</th>
                <th>Status</th>
                <th>OPERATIONS</th>
            </tr>
        </thead>
        {% if orders %}
        <tbody>
            {% for order in orders %}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input position-static orders_checkbox" type="checkbox" name="orders[]" value="{{ order.id }}">
                    </div>
                </td>
                <td>{{ order.channel.name }}</td>
                <td>{{ order.order_id }}</td>
                <td>
                    <div class="btn-group">
                        <button id="statusUpdater" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="statusUpdater">
                            {% for status in get_all_order_status() %}
                            <a class="dropdown-item {% if order.status==status %}disabled{% endif %}" href="{{ url_for('order.order_update_status', channel_id=order.channel_id, order_id=order.id, status=status) }}">{{ status | order_status_2_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {{ order.status|order_status_2_name }}
                </td>
                <td>
                    <a role="button" href="{{ url_for('order.order_detail', order_id=order.id) }}" class="btn btn-primary btn-sm">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

<script type="text/javascript">
// post function
// https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
/**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the paramiters to add to the url
 * @param {string} [method=post] the method to use on the form
 */

function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less wordy if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}

// channel filter
$('.channelFilterOptions').on("click",function(){
    // https://stackoverflow.com/questions/3871228/get-text-from-anchor-tag
    $('#channelFilter').text($(this).text());
    $('#channelFilter').val($(this).val());
})

// status filter
$('.statusFilterOptions').on("click",function(){
    $('#statusFilter').text($(this).text());
    $('#statusFilter').val($(this).val());
})

// search form submit button
$('#searchSubmitButton').on("click",function(){
    var channel_id  = $('#channelFilter').val();
    var status_id   = $('#statusFilter').val();
    var keyword     = $('#keyword').val();

    var data = {};
    data['channel_id'] = (channel_id == "-1") ? null : channel_id;
    data['status'] = (status_id == "-1") ? null : status_id;
    data['keyword'] = (keyword == "") ? null : keyword;

    post('{{ url_for('order.order_index') }}', data);
})

// select all order checkbox
$('#checkAllOrder').click(function() {
    $('.orders_checkbox').prop('checked', this.checked);
});
</script>
{% endblock %}
