{% extends 'base.html' %}

{% block title %}
    Order
{% endblock %}

{% block header %}
    Order
{% endblock %}

{% block button %}
{% endblock %}

{% block content %}
    <div class="input-group mb-3">
<!-- channel filter -->
        <div class="input-group-prepend">
            <button id="channelFilter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{% if active_channel %}{{ active_channel.id }}{% else %}-1{% endif %}">{% if active_channel %}{{ active_channel.name }}{% else %}All Channel{% endif %}</button>
            <div class="dropdown-menu" aria-labelledby="channelFilter">
                <button class="channelFilterOptions dropdown-item" type="button" value="-1">All Channel</button>
                {% if channels %}
                    <div class="dropdown-divider"></div>
                    {% for channel in channels %}
                    <button class="channelFilterOptions dropdown-item " type="button" value="{{ channel.id }}">{{ channel.name }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
<!-- channel filter end -->
<!-- keyword text -->
        <input type="text" id="keyword" class="form-control" value="{% if keyword %}{{ keyword }}{% endif %}">
<!-- keyword text end -->
<!-- status filter -->
        <div class="input-group-append">
            <button id="statusFilter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{% if active_status %}{{ active_status }}{% else %}-1{% endif %}">{% if active_status %}{{ active_status | order_status_2_name }}{% else %}All Status{% endif %}</button>
            <div class="dropdown-menu" aria-labelledby="statusFilter">
                <button class="statusFilterOptions dropdown-item" type="button" value="-1">All Status</button>
                <div class="dropdown-divider"></div>
                {% for status in get_all_order_status() %}
                <button class="statusFilterOptions dropdown-item" type="button" value="{{ status }}">{{ status | order_status_2_name }}</button>
                {% endfor %}
            </div>
        </div>
<!-- status filter end -->
<!-- search button -->
        <div class="input-group-append">
            <button id="searchSubmitButton" class="btn btn-danger btn-secondary" type="button">Search</button>
        </div>
<!-- search button end-->
    </div>
    <div class="btn-group mb-1" role="group">
<!-- order status batching -->
        <div class="btn-group" role="group">
            <button id="orderStatusBatching" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Status To</button>
            <div class="dropdown-menu" aria-labelledby="orderStatusBatching">
                {% for status in get_all_order_status() %}
                <button class="orderStatusBatchingOptions dropdown-item" type="button" value="{{ status }}">{{ status | order_status_2_name }}</button>
                {% endfor %}
            </div>
        </div>
<!-- order status batching end -->
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input position-static" id="checkAllOrder" type="checkbox">
                    </div>
                </th>
                <th>Channel</th>
                <th>OrderId</th>
                <th>Status</th>
                <th>Express</th>
                <th>Memo</th>
                <th>Total</th>
                <th>Time</th>
            </tr>
        </thead>
        {% if orders %}
        <tbody>
            {% for order in orders %}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input position-static orders_checkbox" type="checkbox" name="orders[]" value="{{ order.id }}">
                    </div>
                </td>
                <td>{{ order.channel.name }}</td>
                <td><a value="{{order.id}}" class="openOrderDetailBtn btn btn-sm btn-outline-secondary" data-toogle="tooltip" data-palcement="bottom" title="Click to show order detials">{{ order.order_id }}</a></td>
                <td>{{ order.status|order_status_2_name }}</td>
                <td>{{ order.shipping_method }}</td>
                <td><a value="{{ order.id }}" id="show_order_memo_{{ order.id }}" class="openOrderMemoBtn btn btn-sm btn-outline-secondary" data-toogle="tooltip" data-palcement="bottom" title="{{ order.memo }}">{% if order.memo %}{{ order.memo[:8] }}{% else %}None{% endif %}</a></td>
                <td>${{ order.total }}</td>
                <td>{{ order.timestamp | format_datetime('yyyy-mm-dd') }}</td>
            </tr>
            <tr id="order_detail_{{ order.id }}" style="display: none;">
                <td colspan="100">
                    <table id="details_{{ order.id }}" class="table table-sm">
                    </table>
                </td>
            </tr>
            <tr id="order_memo_{{ order.id }}" style="display: none;">
                <td colspan="100">
                    <input id="memo_key_{{ order.id }}" value="memo" type="hidden">
                    <input id="memo_value_{{ order.id }}" type="text">
                    <button class="orderMemoSaveBtn btn btn-sm btn-success" value="{{ order.id }}">Save</button>
                    <button class="orderMemoCancelBtn btn btn-sm btn-secondary" value="{{ order.id }}">Cancel</button>
                </td>
            </tr>
            <tr style="display: none;">
                <td colspan="100">
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

<script type="text/javascript">
// post function
// https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
/**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the paramiters to add to the url
 * @param {string} [method=post] the method to use on the form
 */

function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less wordy if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}

// get search bar filters data
function get_search_data() {
    var channel_id  = $('#channelFilter').val();
    var status_id   = $('#statusFilter').val();
    var keyword     = $('#keyword').val();

    var data = {};
    data['channel_id'] = (channel_id == "-1") ? null : channel_id;
    data['status'] = (status_id == "-1") ? null : status_id;
    data['keyword'] = (keyword == "") ? null : keyword;

    return data;
}

// channel filter
$('.channelFilterOptions').on("click",function(){
    // https://stackoverflow.com/questions/3871228/get-text-from-anchor-tag
    $('#channelFilter').text($(this).text());
    $('#channelFilter').val($(this).val());
})

// status filter
$('.statusFilterOptions').on("click",function(){
    $('#statusFilter').text($(this).text());
    $('#statusFilter').val($(this).val());
})

// search form submit button
$('#searchSubmitButton').on("click",function(){
    post('{{ url_for('order.order_index') }}', get_search_data());
})

// select all order checkbox
$('#checkAllOrder').on("click",function(){
    $('.orders_checkbox').prop('checked', this.checked);
});

// order status batching
$('.orderStatusBatchingOptions').on("click",function(){
    // get search filters value to keep order search conditions
    var data = get_search_data();

    // get order ids
    data['order_ids'] = []
    $('.orders_checkbox:checked').each(function(i){
        data['order_ids'][i] = $(this).val();
    });

    data['status_to'] = this.value;
    //data['status'] = data['status_to']; // change status filter to new status

    // send request
    post('{{ url_for('order.order_index') }}', data);
});

// open order detail
// https://stackoverflow.com/questions/22218291/toggle-hide-show-tr-using-jquery
// https://stackoverflow.com/questions/3239598/how-can-i-get-the-id-of-an-element-using-jquery
$('.openOrderDetailBtn').on('click', function(e) {
    e.preventDefault();
    var order_id = $(this).attr('value');
    
    // https://zhidao.baidu.com/question/516934779.html
    if ($('#details_'+order_id+' tr').length <= 0) {
        // ajax get data and update view
        $.get('/api/order/json/'+order_id, function(r) {
            $('#details_'+order_id).append('<tr><td>Email: '+r.email+'</td></tr>'); // add email
            $('#details_'+order_id).append('<tr><td>Products: </td></tr>'); // add email
            $.each(r.products, function(product_id, product) {
                $('#details_'+order_id).append('<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;'+product.product+'</td></tr>'); // add product name
                // add product options
                var option_string = '';
                $.each(product.extra.product_options_value, function(idx, product_option) {
                    option_string = option_string + product_option.option_name+': '+product_option.variant_name + ' ';
                });
                $('#details_'+order_id).append('<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;'+option_string+'</td></tr>');
            });
        });
    }
    
    // show
    $('#order_detail_'+order_id).toggle('fast');
});

// open order memo
$('.openOrderMemoBtn').on('click', function(e) {
    e.preventDefault();
    var order_id = $(this).attr('value');
    var memo = $(this).attr('title');
    if (memo == "None") memo = "";
    $('#memo_value_'+order_id).val(memo);

    // show
    $('#order_memo_'+order_id).toggle('fast');
});

// order memo save button
$('.orderMemoSaveBtn').on('click', function(e) {
    var order_id = $(this).attr('value');

    var data = {};
    data['key'] = $('#memo_key_'+order_id).val();
    data['value'] = $('#memo_value_'+order_id).val();
    if (data['value'] == '') data['value'] = null; 

    $.post('/api/order/update/attr/'+order_id, data=data, function(r) {
        if (r.memo == null) r.memo = 'None';
        $('#show_order_memo_'+order_id).attr('title', r.memo);
        r.memo = r.memo.substring(0, 8);
        $('#show_order_memo_'+order_id).text(r.memo);
        // close
        $('#order_memo_'+order_id).toggle('fast');
    });
});

// order memo cancel button
$('.orderMemoCancelBtn').on('click', function(e) {
    var order_id = $(this).attr('value');
    // close
    $('#order_memo_'+order_id).toggle('fast');
});
</script>
{% endblock %}
