{% extends 'base.html' %}

{% set active_page='order' %}

{% block title %}
    Order
{% endblock %}

{% block header %}
    Order
{% endblock %}

{% block button %}
<div class="btn-group">
    <button type="button" class="btn btn-info btn-secondary">FILTER</button>
    <!-- channel filter -->
    <div class="btn-group">
        <button id="channelFilter" type="button" class="btn btn-info btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if active_channel %}{{ active_channel.name }}{% else %}All Channel{% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="channelFilter">
            <a class="dropdown-item {% if active_channel==None %}disabled{% endif %}" href="{{ url_for('order.order_index', status=active_status) }}">All Channel</a>
            {% if channels %}
                <div class="dropdown-divider"></div>
                {% for channel in channels %}
                <a class="dropdown-item {% if active_channel.id==channel.id %}disabled{% endif %}" href="{{ url_for('order.order_index', channel_id=channel.id, status=active_status) }}">{{ channel.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!-- channel filter end -->
    <!-- status filter -->
    <div class="btn-group">
        <button id="statusFilter" type="button" class="btn btn-info btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if active_status %}{{ active_status|order_status_2_name }}{% else %}All Status{% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="statusFilter">
            <a class="dropdown-item {% if active_status==None %}disabled{% endif %}" href="{{ url_for('order.order_index', channel_id=active_channel.id) }}">All Status</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if active_status=='P' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='P', channel_id=active_channel.id) }}">{{ 'P' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='C' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='C', channel_id=active_channel.id) }}">{{ 'C' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='O' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='O', channel_id=active_channel.id) }}">{{ 'O' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='F' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='F', channel_id=active_channel.id) }}">{{ 'F' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='D' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='D', channel_id=active_channel.id) }}">{{ 'D' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='B' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='B', channel_id=active_channel.id) }}">{{ 'B' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='I' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='I', channel_id=active_channel.id) }}">{{ 'I' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='Y' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='Y', channel_id=active_channel.id) }}">{{ 'Y' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='A' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='A', channel_id=active_channel.id) }}">{{ 'A' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='E' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='E', channel_id=active_channel.id) }}">{{ 'E' | order_status_2_name }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if active_status=='G' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='G', channel_id=active_channel.id) }}">{{ 'G' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='H' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='H', channel_id=active_channel.id) }}">{{ 'H' | order_status_2_name }}</a>
            <a class="dropdown-item {% if active_status=='J' %}disabled{% endif %}" href="{{ url_for('order.order_index', status='J', channel_id=active_channel.id) }}">{{ 'J' | order_status_2_name }}</a>
        </div>
    </div>
    <!-- status filter end -->
</div>

<a href="{{ url_for('order.order_update') }}" role="button" class="btn btn-success">Update</a>
{% endblock %}

{% block content %}
    {% if orders %}
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Channel</th>
                <th>OrderId</th>
                <th>Status</th>
                <th>OPERATIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.channel.name }}</td>
                <td>{{ order.order_id }}</td>
                <td>{{ order.status|order_status_2_name }}</td>
                <td>
                    <a role="button" href="{{ url_for('order.order_index') }}" class="btn btn-primary btn-sm">Edit</a>
                    <a role="button" href="{{ url_for('order.order_index') }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No orders here. Please <a href="{{ url_for('order.order_update') }}" role="button" class="btn btn-lg btn-info">Update</a></h3>
    {% endif %}
{% endblock %}
