{% extends 'base.html' %}

{% block header %}
    Channel
{% endblock %}

{% block button %}
<a href="{{ url_for('channel.channel_create') }}" role="button" class="btn btn-info">Create Channel</a>
{% endblock %}

{% block content %}
    {% if channels %}
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Email</th>
                <th>API Key</th>
                <th>OPERATIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for channel in channels %}
            <tr>
                <td>{{ channel.name }}</td>
                <td>{{ channel.website_url}}</td>
                <td>{{ channel.email}}</td>
                <td>{{ channel.api_key}}</td>
                <td>
                    <a role="button" href="#" class="btn btn-primary btn-sm">Edit</a>
                    <a role="button" href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>Please <a href="{{ url_for('channel.channel_create') }}" role="button" class="btn btn-lg btn-info">Create Channel</a></h3>
    {% endif %}
{% endblock %}
